
.brand-name {
    margin-left: 10px;
}

@media only screen and (min-width: 1200px) {
    .navigation-link {
        margin-left: 30rem;
    }
    .navigation-brand {
        margin-left: 20%;
    }
    .brand-img {
        margin-right: 5px;
    }
    .nav-button{
        background-color: #A41034 !important;
        border-color: #A41034;
    }
  }





