.footer {
    text-align: left;
    background-color: #A41034;
    color: white;
    bottom: 0;
}

.class-name{
    padding-top: 2rem;
    font-size: 2rem;
}

.class-description {
    padding-bottom: 2rem;
}

.copyright {
    padding-top: 1rem;
    padding-bottom: 1rem;
}